---

---


<section class="pricing-table" id="pricing">
    <div class="container">
        <div class="center text-container">
            <h3 class="h1-title">Choose the right plan</h3>
            <p>We have designed our pricing to help you find the best solutions for you and your incredible business</p>
        </div>

        <div class="row">
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">The Stalk</h5>
                    <a href="#" class="button u-full-width">View Resume</a>
                </div>

                <div class="price-list">
                    <p>Unlimited Resume Views</p>
                    <p>7 years of experience</p>
                    <p>Backend, Developer Productivity, and more</p>
                    <p>Product Oriented</p>
                    <p>Patented</p>
                    <p>Multifaceted</p>
                    <p>Team Player</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">The Talk</h5>
                    <a href="#" class="button button-primary u-full-width">Let's Talk</a>
                </div>

                <div class="price-list">
                    <p>Available during business hours (EST)</p>
                    <p>Up to 37 Questions!</p>
                    <p>Up to 8 Follow Up interviews!</p>
                    <p>Up to 2 hours of conversation (or more!)</p>
                    <p>Wait, no time limit.</p>
                    <p>Take home projects preferred</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">The Walk</h5>
                    <a href="#" class="button u-full-width">Send me an offer</a>
                </div>

                <div class="price-list">
                    <p>Actively looking for a full time position</p>
                    <p>Able to relocate for the right opportunity</p>
                    <p>Flexible working conditions</p>
                    <p>Open to all industries</p>
                </div>
            </div>
        </div>
    </div>
 </section>


 <style lang="scss">

.pricing-table{
   background-color: #fff;
  .price-item{
    border: 1px solid #dde2e5;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    .price-header{
      h3 .s-paragraph{
        color: #9ba5b9;
      }
    }
    .price-list{
      p{
        margin: 10px 0;
        position: relative;
        padding-left: 20px;
        &::before{
          position: absolute;
          content: '';
          left: 0; top: 5px;
          display: inline-block;
          transform: rotate(45deg);
          height: 8px;
          width: 5px;
          border-bottom: 2px solid #9ba5b9;
          border-right: 2px solid #9ba5b9;
          z-index: 5;
        }
      }
    }
    
  }
}
 </style>